@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body,
html {

    background-color: #a0aab2;
}

header {
    background-color: #e6af2e8f;

}

header>h1 {
    text-align: center;
    padding: 10px;
    color: #2e3532;
}

menu {
    display: block;
}

menu>ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2e3532;
    padding: 5px;
    text-align: center;
    border: 1px solid #7e9181;
}

menu>ul>li>a:hover {
    background-color: #7e9181;
}

main {
    width: 90vw;
    margin: auto;
    padding: 20px;
    background-color: #c7cedb;
    border-radius: 10px;
    margin-top: 20px;

}

article>h2 {
    color: #2e3532;
}

article>p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}