@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format(opentype); 
    font-weight: normal;
}

:root{
    --cor0:#DBF79B;
    --cor1:#9BC240;
    --cor2:#667544; 

    --fonte-padrao: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
 
*{
    margin: 0px;
    padding: 0px;
}

body{
background-color: var(--cor0);
font-family: var(--fonte-padrao);
}
a.externo::after{
  content: '00A0\1F4CE';
}
header{
    background-color: #667544;
    min-height: 120px;
    text-align: center;
    padding: 30px;
}
header > h1{
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 3px 0px #00000081;
}
header > p{
    color: white;
    text-shadow: 2px 3px 0px #00000081;
    margin-bottom: 30px;
}
nav{
    background-color: var(--cor1);
    padding: 11px;
    box-shadow: 8px 7px 9px #00000075;
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.6s;
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor0);
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffffff9a;
    box-shadow: 0px 0px 10px #00000067;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
} 

main h1{
    color: var(--cor2);
    font-family: var(--fonte-android);
}
main p{
    margin: 10px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 2em;
}
main strong{
  background-color: var(--cor1);
  font-weight: normal;
  padding: 2px 6px;
}
main a{
    text-decoration: none;
    color: var(--cor2);
    padding: 2px 4px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
main h2{
    color: var(--cor1);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 3px;
    font-weight: normal;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 450px;
    display: block;
    margin: auto;
}
#video{
    background-color: var(--cor1);
   margin: 0px -20px 30px -20px;
   padding: 20px;
   padding-bottom: 59%;
   padding-top: 0%;
   position: relative;
}
#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 11px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px #000000a9;
}
aside > h3{
    background-color: var(--cor2);
    color: #ffffffe3;
    padding: 10px;
    margin: -11px -11px 0px -11px;
    border-radius: 11px 11px 0px 0px;
    
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 6px;
}